<% provide(:title, 'ソロログ') %>
<h1>カレー専門店oo</h1>




<body>
  <!-- カードグループ------------------------------------------------------- -->
  <div class="card-group">
    
  <div class="card">
    <img src="..." alt="カード1の画像" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">A</h5>
      <p class="card-text">チキンカレーうまい！</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">最終更新1分前</small>
    </div>
  </div>
  <div class="card">
    <img src="..." alt="カード2の画像" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">B</h5>
      <p class="card-text">牛カレーうまい！</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">最終更新2分前</small>
    </div>
  </div>
  <div class="card">
    <img src="..." alt="カード3の画像" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">C</h5>
      <p class="card-text">ラッシーが美味しい！</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">最終更新3分前</small>
    </div>
  </div>
  <div class="card">
    <img src="..." alt="カード4の画像" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">D</h5>
      <p class="card-text">ナンおいしい</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">最終更新4分前</small>
    </div>
  </div>
</body>


