<h1>Followiing</h1>
<br>
<% @users.each do |user| %>
  <%= link_to user_path(user), style: "text-decoration: none; color: black;", class: "card-anchor" do %>
    <div class="card text-center" style="width: 26rem; height: 6rem;">
      <div class="card-body d-flex align-items-center justify-content-between"> 
        <%= turbo_frame_tag "user_name", class: "user-name-in-review" do %>
          <%= user.name %>
        <% end %>
        <div class="review-count-follow">
          <%= user.reviews.count %> reviews
        </div>
      </div>
    </div>
  <% end %>
<% end %>
