@import "bootstrap";

select[readonly] {
 pointer-events: none;
}
input[type="radio"][readonly] {
 pointer-events: none;
}
input[type="checkbox"][readonly] {
 pointer-events: none;
}

/*フッター*/
footer {
  height: 50px;
  width: 100%;
}

.footer {
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 15px;
  margin: 0;
}
