@import "bootstrap";

select[readonly] {
 pointer-events: none;
}
input[type="radio"][readonly] {
 pointer-events: none;
}
input[type="checkbox"][readonly] {
 pointer-events: none;
}

/* 全体 */

body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

/* flash */
.validation-error-list {
 list-style-position: inside;
}

/*フッター*/
footer {
 margin-top: auto;
}

.footer {
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 15px;
  margin: 0;
}
