@import "bootstrap";

select[readonly] {
 pointer-events: none;
}
input[type="radio"][readonly] {
 pointer-events: none;
}
input[type="checkbox"][readonly] {
 pointer-events: none;
}

/* 全体 */
body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.field_with_errors {
  display: contents;
  input, textarea {
   @extend .is-invalid;
  }
}

/* flash */
.validation-error-list {
 list-style-position: inside;
 margin-top: 30px;
}

/*フッター*/
footer {
 margin-top: auto;
}

.footer {
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 15px;
  margin: 0;
}

/* ユーザー新規登録ページ */
.signup-form {
 margin-top: 40px;
 padding-bottom: 40px;
}

/* ユーザーログインページ */
.login-form {
 padding-top: 40px;
 padding-bottom: 40px;
}

/* review投稿ページ */
.review-form {
 padding-top: 40px;
 padding-bottom: 40px;
}

.review-form-title {
 margin-bottom: 20px;
}

.form-check {
 padding-left: 0;
}

.form-check-inline {
 margin-right: 2rem;
}

/* 店舗投稿ページ */
.shop-form {
 padding-top: 40px;
 padding-bottom: 40px;
}

.shop-form-title {
 margin-bottom: 20px;
}

/* review詳細ページ */
.form-control-review-indetail{
 width: 450px;
 height: 120px; 
}

/* mapページ */
.shop-index-title {
 margin-top: 40px;
 margin-bottom: 40px;
}

.btn:focus {
  box-shadow: none !important;
}