<% if model.errors.full_messages.present? %>
  <ul class="alert alert-danger validation-error-list">
    <% model.errors.full_messages.each do |error| %>
      <strong><li><%= error %></li></strong>
    <% end %>
  </ul>
<% end %>